* {
  font-family: Avenir, Helvatica, sans-serif;
}

.App-header, .tickers-container {
  background: -webkit-gradient(linear,left top,left bottom,from(#2f0045),to(#552660));
  background: -webkit-linear-gradient(top,#2f0045,#552660);
  background: -o-linear-gradient(top,#2f0045,#552660);
  background: linear-gradient(180deg,#2f0045,#552660);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
